@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1 class="display-4">Welcome to Second Hand's Store</h1>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
                <img src="~/pics/Garmin.jpg" class="card-img-top" alt="Item 1">
                <div class="card-body">
                    <h5 class="card-title">Garmin</h5>
                    <p class="card-text">Garmin Fenix Sapphire 5X, used and in very good condition. Measures HR, calories, activities, VO2 max. Great running and training watch!</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
                <img src="~/pics/dji-drone.jpg" class="card-img-top" alt="Item 2">
                <div class="card-body">
                    <h5 class="card-title">DJI Drone</h5>
                    <p class="card-text">Have replaced parts so it's good as new, fantastic piece of machinery.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
                <img src="~/pics/MassageGun.jpg" class="card-img-top" alt="Item 3">
                <div class="card-body">
                    <h5 class="card-title">Massage Gun</h5>
                    <p class="card-text">it’s in perfect condition.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0">
            <div class="card">
                <img src="~/pics/Pingpong.jpg" class="card-img-top" alt="Item 4">
                <div class="card-body">
                    <h5 class="card-title">Ping pong Table</h5>
                    <p class="card-text">It has been used very little and looks brand new.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>


<h3>About Second Hand Store</h3>
<div class="container my-5">
    <p class="mb-4">
        Welcome to our second-hand store, your destination for quality pre-owned treasures. Located in the heart of the community, we offer a wide array of gently used items, including clothing, furniture, electronics, books, and unique collectibles. Each item is carefully inspected to ensure high standards of quality and functionality.
    </p>
    <p class="mb-4">
        Our mission is to provide great value while promoting sustainability. Shopping second-hand reduces waste and minimizes the environmental impact associated with new goods. By choosing pre-owned items, you're making a positive choice for the planet while saving money.
    </p>
    <p>
        We also accept donations of gently used items. Proceeds from sales often support local charitable initiatives, making every purchase and donation meaningful. Our inventory is regularly updated, so each visit is a new opportunity to discover hidden gems. Join us in our commitment to sustainable living and community support. Visit our second-hand store today!
    </p>
</div>